### 지금까지 모은 기사 pickle 형태 데이터 합친 후 'Sentence' 기준 중복 제거 후 'Word_Count' (총 토큰 수) 확인

In [10]:
import pandas as pd
import os

In [11]:
path = '/media/arspraxia/Extreme SSD/Lexis_data.token개수'
file_list = os.listdir(path)
data_frames = []

for file_name in file_list:
    if file_name.endswith('.pickle'):
        full_path = os.path.join(path, file_name)
        data_frames.append(pd.read_pickle(full_path))

df = pd.concat(data_frames)
df

:

In [3]:
df['Word_Count'].sum()

74819637

In [8]:
dff = df.drop_duplicates(subset='Sentence')
dff

,Doc_ID,Filename,Title,Pub_Type,Pub_Subj,Pub_Date,Col_Date,Sen_ID,Word_Count,Text,...,Column_661,Column_662,Column_663,Column_664,Column_665,Column_666,Column_667,Column_668,Column_669,Column_670
0,20231030_newsdata_Pantai Koka_000001,C:/Users/USER/Desktop/기사 데이터_로컬환경/20231030_dat...,"Benarkah Demi Kesehatan Laut, Pemanfaatan Sedi...",Newspaper,Pantai Koka,2023-06-02,2023-10-30,20231030_newsdata_Pantai Koka_000001_sen000001,13,"Selama 20 tahun, pemanfaatan pasir laut dil...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20231030_newsdata_Pantai Koka_000001,C:/Users/USER/Desktop/기사 데이터_로컬환경/20231030_dat...,"Benarkah Demi Kesehatan Laut, Pemanfaatan Sedi...",Newspaper,Pantai Koka,2023-06-02,2023-10-30,20231030_newsdata_Pantai Koka_000001_sen000002,20,"Selama 20 tahun, pemanfaatan pasir laut dil...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20231030_newsdata_Pantai Koka_000001,C:/Users/USER/Desktop/기사 데이터_로컬환경/20231030_dat...,"Benarkah Demi Kesehatan Laut, Pemanfaatan Sedi...",Newspaper,Pantai Koka,2023-06-02,2023-10-30,20231030_newsdata_Pantai Koka_000001_sen000003,21,"Selama 20 tahun, pemanfaatan pasir laut dil...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20231030_newsdata_Pantai Koka_000001,C:/Users/USER/Desktop/기사 데이터_로컬환경/20231030_dat...,"Benarkah Demi Kesehatan Laut, Pemanfaatan Sedi...",Newspaper,Pantai Koka,2023-06-02,2023-10-30,20231030_newsdata_Pantai Koka_000001_sen000004,35,"Selama 20 tahun, pemanfaatan pasir laut dil...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20231030_newsdata_Pantai Koka_000001,C:/Users/USER/Desktop/기사 데이터_로컬환경/20231030_dat...,"Benarkah Demi Kesehatan Laut, Pemanfaatan Sedi...",Newspaper,Pantai Koka,2023-06-02,2023-10-30,20231030_newsdata_Pantai Koka_000001_sen000005,72,"Selama 20 tahun, pemanfaatan pasir laut dil...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544987,20231110_newsdata_Air guraka_016941,C:/Users/USER/Desktop/기사 데이터_로컬환경/data_Air gur...,Penambang Garam Sahara Niger Mencari Masa Depa...,Newspaper,Air guraka,"June 20, 2023",2023-11-10,20231110_newsdata_Air guraka_016941_sen000038,14,Di tepi oasis yang hampir tertutup bukit pasir...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544988,20231110_newsdata_Air guraka_016941,C:/Users/USER/Desktop/기사 데이터_로컬환경/data_Air gur...,Penambang Garam Sahara Niger Mencari Masa Depa...,Newspaper,Air guraka,"June 20, 2023",2023-11-10,20231110_newsdata_Air guraka_016941_sen000039,15,Di tepi oasis yang hampir tertutup bukit pasir...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544989,20231110_newsdata_Air guraka_016941,C:/Users/USER/Desktop/기사 데이터_로컬환경/data_Air gur...,Penambang Garam Sahara Niger Mencari Masa Depa...,Newspaper,Air guraka,"June 20, 2023",2023-11-10,20231110_newsdata_Air guraka_016941_sen000040,19,Di tepi oasis yang hampir tertutup bukit pasir...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544990,20231110_newsdata_Air guraka_016941,C:/Users/USER/Desktop/기사 데이터_로컬환경/data_Air gur...,Penambang Garam Sahara Niger Mencari Masa Depa...,Newspaper,Air guraka,"June 20, 2023",2023-11-10,20231110_newsdata_Air guraka_016941_sen000041,31,Di tepi oasis yang hampir tertutup bukit pasir...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544991,20231110_newsdata_Air guraka_016941,C:/Users/USER/Desktop/기사 데이터_로컬환경/data_Air gur...,Penambang Garam Sahara Niger Mencari Masa Depa...,Newspaper,Air guraka,"June 20, 2023",2023-11-10,20231110_newsdata_Air guraka_016941_sen000042,14,Di tepi oasis yang hampir tertutup bukit pasir...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
dff['Word_Count'].sum()

32855426